<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursoudemy.gamelib">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gamepad_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gamepad_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameLib"
        tools:targetApi="31">
        <activity
            android:name=".edition.EditGameActivity"
            android:exported="false"
            android:parentActivityName=".main.GameListActivity"/>
        <activity
            android:name=".main.GameListActivity"
            android:exported="false"
            android:parentActivityName=".main.DashboardAdminActivity" />
        <activity
            android:name=".edition.AddGameActivity"
            android:exported="false" />
        <activity
            android:name=".edition.AddConsoleActivity"
            android:exported="false" />
        <activity
            android:name=".main.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".main.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
    </application>

</manifest>